body, html {
    margin: 0;
    padding: 0;
}
body {
    background: url('images/bg.jpg');
}

.marquee {
    overflow: hidden;
    width: 100%;
}

.tv {
    bottom: 0;
    height: 460px;
    left: 0;
    margin: -230px auto 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 500px;
}
    .tv .frame {
        background: transparent;
        border: 20px solid #A9AA74;
        border-radius: 30px;
    }
    .tv .second-frame {
        background: #F9FFD1;
        border: 20px solid #F9FFD1;
        border-bottom-width: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 3px #D7E599;
    }
    .tv .monitor {
        border: 1px solid #fafafa;
        border-radius: 60px;
        overflow: hidden;
        -webkit-animation: flicker .3s infinite;
        animation: flicker .3s infinite;
    }
    .tv .image {
        background: none no-repeat 0 50% #000;
        border-radius: 50px;
        box-shadow: inset 0 0 20px #000;
        height: 370px;
        overflow: hidden;
        position: relative;
    }
    .tv:hover .image {
        background-size: 500%;
    }
    .tv .logo {
        background: rgba(0,0,0,.3);
        border-radius: 5px;
        color: #ccc;
        font-size: 11px;
        position: absolute;
        right: 75px;
        padding: 2px 5px;
        top: 60px;
    }
    .tv .brand {
        bottom: 30px;
        color: #7A7753;
        font-family: 'Arial', sans-serif;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px #fff;
        text-transform: uppercase;
        width: 93%;
    }
    .tv .marquee {
        background: rgba(0,0,0,.3);
        color: #ccc;
        font-family: 'Arial', sans-serif;
        font-size: 10px;
        padding: 2px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

@-webkit-keyframes flicker {
    0% {
        box-shadow: 0 0 120px 5px #EAFBFF;
    }
    25% {
        box-shadow: 0 0 80px 5px #EAFBFF;
    }
    50% {
        box-shadow: 0 0 60px 5px #EAFBFF;
    }
    75% {
        box-shadow: 0 0 120px 5px #EAFBFF;
    }
    100% {
        box-shadow: 0 0 60px 5px #EAFBFF;
    }
}
@keyframes flicker {
    0% {
        box-shadow: 0 0 120px 5px #EAFBFF;    
    }  
    25% {
        box-shadow: 0 0 80px 5px #EAFBFF;    
    }
    50% {
        box-shadow: 0 0 60px 5px #EAFBFF;    
    }
    75% {
        box-shadow: 0 0 120px 5px #EAFBFF;    
    }
    100% {
        box-shadow: 0 0 60px 5px #EAFBFF;    
    }
}
